* {
    background: #4b42f4;
    margin: 0;
    padding: 0;
}

.center-wrapper {
    width: 100%;
    height: 100vh;
}

.center-frame {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
}

#canvas {
    display: block;
    height: 100%;
    width: 100%;
}